body {
  margin: 0;
  padding: 0;
  background-color:#e4f9f5;
  font-family:'Open Sans', sans-serif;
}
nav{
 background: linear-gradient(rgba(0, 0, 0, 0.299), rgba(0, 0, 0, 0.299)), url(../assets/images/fondo-header.jpg)no-repeat center center;
 background-size: cover;
}
ul.nav{
  font-family: 'Tenor Sans', sans-serif;
  background: #30e3ca;
  
}
.nav li a {
  display: inline-block;
  font-family:  'Oswald', sans-serif;
  color: #40514e;
  padding: 15px 15px;
  text-decoration: none; 
}
.nav li {
  list-style: none;
  
}
.nav li a:hover, .nav li a:active {
  background:#11999e;
}

a.title{
  font-family: 'Architects Daughter', cursive;
  color: #308dbc;
  font-size: 35px;
}
.logo{
  margin-right: 15px;
  height: 60px;
  width: 60px;
}
.bg-light{
  background-color: #ffff! important;
  padding: 25px 16px;
}
.navbar-light .navbar-brand{
  color: #fff;
  
}
.span-header{
  font-family: 'Architects Daughter', cursive;
  font-size: 25px;
  color: #308dbc;
}
#green{
  color: #00ff00;
}
#yellow{
  color:#fff200;
}
#pink{
  color:#ff00af;
}
.section-1{
  
}
.banner {
  background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0,.7)), url(../assets/images/galaxia.png) no-repeat center center;
  background-size: cover;
  padding-top: 40px;
}
.banner h1, .banner h4{
  color:#ffff;
}
.banner .row:nth-child(3){
  padding: 34px 300px;
}
.banner .row:nth-child(3) h4{
  color:  #ac5581
}
.section-1 div:nth-child(3) .row {
  padding: 50px 0 0 0 ;
 }
 .section-1 div:nth-child(2) .row h2{
   color: #40514e;
 }
 .container-fluid.alternativa{
  background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0,.7)),  url(../assets/images/background-alternativa.png) no-repeat center center;
  background-size: cover;
   padding:30px 130px 100px 130px;
 }
 .alternativa h2 {
   font-family:'Open Sans', sans-serif;
   color :#fff;
 }
 .circulo{
   border: 5px solid #e4f9f5;
   border-radius: 50%;
 }
 .slick-slide img {
   display: inline-block !important;
}
.slick-dots{
  bottom:-50px!important;
}
.slick-prev:before, .slick-next:before{
  font-size: 0px !important;
}
div.container.slider.text-center {
   margin: 120px auto;
  
 }

 
 footer {
   background: #40514e;
   color: #fff;
   padding: 60px 0px 0px 0px;
   font-family: 'Open Sans', sans-serif;
 }
 
 
 footer ul
  li {
   list-style: none;
  }
  .margin-footer{
    margin:0px;
 
  }
  .icon-background {
    color:#33383c;
}
.fa-ul>li {
  margin-bottom: 5px;
}
.textMap{
  color:#000;
  font-display: 900;
  font-family:'Open Sans', sans-serif;
}
.redes {
  color: #30e3ca;
  padding: 20px 5px;
}
.copyright{
padding: 20px 0px; 
  background: #000;
}
.content-footer{
  margin-bottom: 60px;
}
.table-tabs {
  padding:30px 0 30px 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: rgb(27, 192, 192);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(24,130,95,1);
  -moz-box-shadow: 10px 10px 15px 0px rgba(24,130,95,1);
  box-shadow: 2px 5px 15px 0px rgba(94,39,39,0.4);
  }
  .nav-pills .nav-link {
    
  }
@media (max-width:768px){
  a.title{
    font-size: 36px;
  }
    .logo{
    height: 60px;
    width: 60px;
  }
  .banner .row:nth-child(3){
    padding: 20px 0px;
  }
}